USE [master]
GO
/****** Object:  Database [BLOGDB]    Script Date: 26-Apr-23 3:31:23 PM ******/
CREATE DATABASE [BLOGDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BLOGDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BLOGDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BLOGDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BLOGDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BLOGDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BLOGDB]
GO
/****** Object:  Table [dbo].[article]    Script Date: 26-Apr-23 3:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[article](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[article_title] [nvarchar](300) NULL,
	[article_description] [nvarchar](300) NULL,
	[article_content] [nvarchar](max) NULL,
	[article_thumb] [nvarchar](100) NULL,
	[article_date] [date] NULL,
	[category_id] [int] NULL,
	[author_id] [int] NULL,
	[article_priority] [int] NULL,
	[view_counts] [int] NULL,
	[like_counts] [int] NULL,
	[article_status] [bit] NULL,
	[source] [nvarchar](50) NULL,
 CONSTRAINT [PK__article__3213E83F650B0614] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 26-Apr-23 3:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](50) NULL,
	[category_description] [nvarchar](100) NULL,
 CONSTRAINT [PK__category__3213E83FC425324B] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 26-Apr-23 3:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [nvarchar](50) NULL,
	[user_email] [nvarchar](50) NULL,
	[user_login] [nvarchar](50) NULL,
	[user_password] [nvarchar](50) NULL,
	[user_role] [varchar](10) NULL,
 CONSTRAINT [PK__user__3213E83F37C146F1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[article] ON 

GO
SET IDENTITY_INSERT [dbo].[article] OFF
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([id], [category_name], [category_description]) VALUES (1, N'Xã hội 2', N'Xã hội')
INSERT [dbo].[category] ([id], [category_name], [category_description]) VALUES (2, N'Khoa học công nghệ', N'Khoa học công nghệ')
INSERT [dbo].[category] ([id], [category_name], [category_description]) VALUES (3, N'Thể thao', N'Thể thao')
SET IDENTITY_INSERT [dbo].[category] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([id], [user_name], [user_email], [user_login], [user_password], [user_role]) VALUES (1, N'Hải Nguyễn', N'Hai@gmail.com', N'hai', N'123456', N'Admin')
INSERT [dbo].[user] ([id], [user_name], [user_email], [user_login], [user_password], [user_role]) VALUES (2, N'Hiếu Trịnh', N'Hieu@gmail.com', N'hieu', N'123456', N'Editor')
INSERT [dbo].[user] ([id], [user_name], [user_email], [user_login], [user_password], [user_role]) VALUES (3, N'Đạt Nguyễn', N'Dat@gmail.com', N'dat', N'123456', N'Editor')
SET IDENTITY_INSERT [dbo].[user] OFF
GO
ALTER TABLE [dbo].[article] ADD  CONSTRAINT [DF_article_article_date]  DEFAULT (getdate()) FOR [article_date]
GO
ALTER TABLE [dbo].[article] ADD  CONSTRAINT [DF_article_article_priority]  DEFAULT ((0)) FOR [article_priority]
GO
ALTER TABLE [dbo].[article] ADD  CONSTRAINT [DF_article_view_counts]  DEFAULT ((0)) FOR [view_counts]
GO
ALTER TABLE [dbo].[article] ADD  CONSTRAINT [DF_article_like_counts]  DEFAULT ((0)) FOR [like_counts]
GO
ALTER TABLE [dbo].[article] ADD  CONSTRAINT [DF_article_article_status]  DEFAULT ((0)) FOR [article_status]
GO
ALTER TABLE [dbo].[article]  WITH CHECK ADD  CONSTRAINT [FK_article_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([id])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[article] CHECK CONSTRAINT [FK_article_category]
GO
ALTER TABLE [dbo].[article]  WITH CHECK ADD  CONSTRAINT [FK_article_user] FOREIGN KEY([author_id])
REFERENCES [dbo].[user] ([id])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[article] CHECK CONSTRAINT [FK_article_user]
GO
USE [master]
GO
